{preload_replace:og="og_news"}
{preload_replace:sidebar_field="news_relatedcontent"}

{exp:channel:entries channel="news" limit="1" parse="inward"}
{snippet:global_header}

<section id="main-content" class="interior" role="contentinfo">
    
    <div class="interior {snippet:if_sidebar}">

        {snippet:global_sidebar}

        <div class="user-content">
            <article class="results results-list">
                <header class="article-head">
    	            <h1 class="heading-wrapper">{title}</h1>
                    <div class="timestamp">Posted {entry_date format="%l %F %j, %Y %g:%i%A"}<span class="sub-info source">Author: {author}</span></div>
                    <ul class="related-list">
                        <li>Categorized In: {categories backspace="2"}</li><li><a href="/news/category/{category_url_title}">{category_name}</a>, {/categories}</li>
                    </ul>
                </header>
                {news_images search:news_images_feature="not IS_EMPTY"}
                <div class="media-image">                    
                   <img alt="{news_images_featurealt}" src="{news_images_feature:resized}">
                </div>
                {/news_images}
                {news_summary}
            </article>
            
            {embed="news/article_comments entry_id="{entry_id}" comment_total="{comment_total}"}
	
        </div><!--user-content-->
    </div><!--interior-->                    
</section> <!-- #main-content -->

{snippet:global_footer}
{/exp:channel:entries}