<section class="comments user-content">
    <h1 class="heading-wrapper">Comments ({embed:comment_total})</h1> 
    
    {if embed:comment_total > 0}
    <ul class="comment-list">
        {exp:comment:entries sort="asc" limit="10" entry_id="{embed:entry_id}"}
        <?php $gravatar = md5(strtolower(trim( "{email}" ))); ?>
        <li>
            {if email}
            <div class="media-image grid">                    
               <img alt="{email}" src="http://www.gravatar.com/avatar/<?=$gravatar?>.jpg">
            </div>
            {/if}
            <div class="comment-content">
                {if url}<h2 class="title"><a href="{url}" rel="nofollow">{name}</a></h2>{if:else}<h2 class="title">{name}</h2>{/if}
                <h3 class="timestamp">Posted {comment_date format="%l %F %j, %Y %g:%i%A"}</h3>
                <p>{comment}</p>
            </div> <!-- comment-content -->
        </li>
        {/exp:comment:entries}
    </ul>
    {/if}
    
    {exp:comment:form channel="news" form_class="form" form_id="comment-form" entry_id="{embed:entry_id}"}
    <form id="comment-form" action="#" class="form">
        <fieldset>
            <legend class="legend-heading">Leave a Comment</legend>
            <ul>
                {if logged_in}
                <li>
                    Name: {name}<br />
                    Email: {email}<br />
                    Website: {url}
                </li>
                {if:else}
                <li class="name">
                    <label for="name">Your Name:</label>
                    <input class="input-text" type="text" name="name" id="name" placeholder="Enter your name" required />
                </li>
                <li class="email">
                    <label for="email">Your Email:</label>
                    <input class="input-text" type="email" name="email" id="email" placeholder="Enter your email" required />
                </li>
                <li class="website">
                    <label for="email">Your Website:</label>
                    <input class="input-text" type="url" name="website" id="website" placeholder="Enter your website" />
                </li>
                {/if}
                <li class="textarea">
                    <label for="comment">Comment:</label>
                    <textarea class="input-textarea" id="comment" name="comment" rows="10">{comment}</textarea>
                </li>
            </ul>
        </fieldset>
        <div class="action">
            <div class="button-wrapper">
                <button class="button highlight" type="submit">Submit</button>
            </div>
        </div>
    </form>
    {/exp:comment:form}
    
</section> <!-- comments -->