{exp:channel:entries channel="news" limit="5" dynamic="{embed:dynamic}" cache="yes" refresh="60" disable="pagination"}
    {if count == 1}
    <div id="news-results" class="results">
    	<ul class="results-list">
    {/if}
    		<li class="list-item">
                {news_images}
                    {if news_images_preview}
                    <div class="media-image">                    
                        <a href="/news/article/{url_title}"><img alt="{title}" src="{news_images_preview:thumbnail}"></a>
                    </div>
                    {/if}
                {/news_images}
                <div class="news-item">
                    <h3><a href="/news/article/{url_title}">{title}</a></h3>
                    <h4 class="timestamp">Posted {entry_date format="%l %F %j, %Y %g:%i%A"}<span class="sub-info source">Author: {author}</span></h4>
                    <ul class="related-list">
                        <li>Categorized In: {categories backspace="2"}</li><li><a href="/news/category/{category_url_title}">{category_name}</a>, {/categories}</li>
                    </ul>
                    {if news_preview}
                        <p>{news_preview text_only="yes"} &#8230; <a class="read-more" href="/news/article/{url_title}">Read&nbsp;More</a></p>
                    {if:else}
                        <p>{exp:eehive_hacksaw chars="120" allow="" append=' &#8230; <a class="read-more" href="/news/article/{url_title}">Read&nbsp;More</a>'}{news_summary}{/exp:eehive_hacksaw}</p>
                    {/if}
                </div>
            </li>              
    {if count == total_results}
    	</ul><!--results-list-->
    </div>
    {/if}
{/exp:channel:entries}