{exp:channel:entries channel="pages" limit="1" entry_id="2" cache="yes" refresh="60" disable="member_data"}
{snippet:global_header}

            <section id="main-content" class="interior" role="contentinfo">                
                <div class="interior {snippet:if_sidebar}">
                
                    {snippet:global_sidebar}

                    <div class="user-content">
                        <div class="heading-wrapper">
        	                <h1>{snippet:if_titleoverride}</h1>
    	                </div>
    	                <form id="news-filter" class="form focus" action="#">
							<fieldset class="filter">
								<legend class="hidden">Filter Results</legend>
    	                		<label for="filter">Filter By: <span class="filtertitle">All News</span></label>
    	                		<select id="filter">
    	                		     <option value="/news/" data-cid="">All News</option>
        	                		{exp:channel:categories channel="news"}
    	                			<option value="/news/category/{category_url_title}" data-name="{category_name}" data-cid="{category_id}">{category_name}</option>
    	                			{/exp:channel:categories}
    	                		</select>
    	                	</fieldset>
    	                </form>
                        {content}
                        {if segment_2 == "category"}
                            {embed="news/index_articles" dynamic="on"}
                        {if:else}
                            {embed="news/index_articles" dynamic="off"}
                        {/if}
                    </div><!--user-content-->
                    
                </div><!--interior-->
            </section> <!-- #main-content -->

{snippet:global_footer}
{/exp:channel:entries}