{exp:channel:entries channel="pages" limit="1" entry_id="30" dynamic="off"}
{snippet:global_header}

    <section id="main-content" class="interior" role="contentinfo">
    
        <div class="heading-wrapper">
            <h1>{snippet:if_titleoverride}</h1>
        </div>
        
        {snippet:global_pagebanner}
        
        <div class="interior {snippet:if_sidebar}">
            {snippet:global_sidebar}
            <div class="user-content">
                <h2>Oops! The page you were looking for could not be found.<br />Please contact us if you need additional assistance.</h2>
            </div><!--user-content-->
        </div><!--interior-->
        
    </section> <!-- #main-content -->
            
{snippet:global_footer}
{/exp:channel:entries}