{exp:channel:entries channel="pages" limit="1" cache="yes" refresh="60" disable="categories|category_fields|member_data|pagination"}
{snippet:global_header}

    <section id="main-content" class="interior" role="contentinfo">
    
        <div class="heading-wrapper">
            <h1>{snippet:if_titleoverride}</h1>
        </div>
        
        {snippet:global_pagebanner}
        
        <div class="interior {snippet:if_sidebar}">
            {snippet:global_sidebar}
            <div class="user-content">
                {content}
                {snippet:modules_form}
            </div><!--user-content-->
        </div><!--interior-->
        
    </section> <!-- #main-content -->
            
{snippet:global_footer}
{/exp:channel:entries}