    <footer class="site-info" role="contentinfo">
        <div class="wrapper">
            <h1 class="hidden">Site Information</h1>
            <section class="banner">
                <div class="vcard">
                    <address>
                        <span class="org fn">Minnesota Outreach</span>
                        <span class="address-info">
                            <span class="street-address">122 West Grand Avenue, Suite 200</span>
                            <span class="locality">St. Paul</span>,
                            <span class="region">MN</span>
                            <span class="postal-code">55104</span>
                            <span class="country-name hidden">United States</span>
                        </span>
                    </address>
                    <div class="contact-info">
                        <a class="url hidden" href="http://www.minnesotaumc.org/">www.minnesotoutreach.org</a>
                        <a class="email" href="mailto:info@minnesotaumc.org">info@minnesotaoutreach.org</a>
                        <span class="tel">(612) 870-0458</span>
                    </div>
                </div>
            </section>
            <div class="copyright">&copy; Copyright 2012</div>
        </div>
    </footer>