    {!-- META DATA --}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--[if IE]><meta http-equiv="cleartype" content="on" /><![endif]-->
    <!--[if lt IE 9]><meta http-equiv="X-UA-Compatible" content="IE=8" /><![endif]-->
    
    {!-- SEO and FACEBOOK --}
    <title>{exp:stash:get name='meta_title'}</title>
    <meta name="description" content="{exp:stash:get name='meta_desc'}" />
    <meta name="author" content="{exp:stash:get name='meta_author'}" />
    <meta name="keywords" content="{exp:stash:get name='meta_keywords'}" />
    <meta name="robots" content="index,follow,archive" />
    <meta property="og:title" content="{if "{exp:stash:get name='og_title'}"}{exp:stash:get name='og_title'}{if:else}{exp:stash:get name='page_title'} > {site_name}{/if}"/>
    <meta property="og:type" content="{if "{exp:stash:get name='og_type'}"}{exp:stash:get name='og_type'}{if:else}website{/if}"/>
    <meta property="og:url" content="{exp:stash:get name='og_url'}" />
    <meta property="og:image" content="{if "{exp:stash:get name='og_image'}"}{exp:stash:get name='og_image'}{if:else}{site_url}images/logo.gif{/if}"/>
    <meta property="og:site_name" content="{site_name}"/>
    <meta property="og:description" content="{exp:stash:get name='og_description'}"/>
    
    {!-- ICONS --}
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
    
    {!-- STYLESHEETS --}
    <link rel="stylesheet" media="screen, projection" href="/styles/reset.css" />
    <link rel="stylesheet" media="screen, projection" href="/styles/jcarousel.css" />
    <link rel="stylesheet" media="screen, projection" href="/styles/screen.css" />
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" media="screen, projection" href="/styles/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" type="text/css" media="screen, projection" href="/styles/ie8.css" /><![endif]-->
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" media="screen, projection" href="/styles/ie7.css" /><![endif]-->
    <link rel="alternate" href="/rss/rss_2.0/" title="{site_name} News Feed" type="application/rss+xml" />
    
    {!-- JAVASCRIPT --}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <!--[if lt IE 9]><script type="text/javascript" src="/scripts/html5shiv.js"></script><![endif]-->
    <script src="/scripts/jcarousel.js"></script>
    <script src="/scripts/global.js"></script>
    <script type="text/javascript">var _gaq = _gaq || []; _gaq.push(['_setAccount', '{analytics_id}'],['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();</script>

    {!-- MINI-CP --}
    {if showadmintoolbar == "y"}{exp:minicp jquery="no" jqueryui="yes"}{/if}