    {if showadmintoolbar == "y"}{exp:minicp:widget entry_id="{exp:stash:get name="entry_id"}"}{/if}
    <header class="masthead" role="banner">
        <div class="wrapper">
            <a href="/" title="{site_name}" class="logo pngfix">
                <h1>{site_name}</h1>
            </a>
            <nav class="nav-member">
                <a href="/member/profile">View Profile</a> | {if logged_in}<a href="/member/logout">Logout</a>{if:else}<a href="/member/login">Login</a>{/if}
            </nav>
             <nav class="nav-main" role="navigation">
                <h2 class="hidden">Main Navigation (<a href="#content">Skip to Main Content</a>)</h2>
                {exp:structure:nav max_depth="1" css_id="leftnav" current_class="active" add_unique_ids="yes"}
            </nav>
        </div>
    </header>