/**
*	Author: Jarrett M. Barnett
*	E-mail: developer@jarrettbarnett.com
*	Profile: linkedin.com/in/jarrettbarnett
*   Twitter: twitter.com/jarrettbarnett
*	Website: http://www.jarrettbarnett.com/
*	Copyright (c) 2012
*	Last Modified: 2012-03-26
*/
channel link, channel language, channel copyright, channel managingEditor, channel webMaster, channel docs, channel lastBuildDate, channel item pubDate {display:none;}
rss {font-family:"Lucida Grande",Arial, Helvetica, sans-serif;}

channel title {display:block; padding:1em; color:#FFF; border-bottom:1px solid black; font-weight:bold;	font-size:140%; background-color:#4483C7;}

channel description {display:block; float:left; font-size:130%; margin:1em;}

channel item {border:1px solid #4483c7;clear:both; display:block; padding:0.5em; margin:1em;}

channel item title {background-color:#4483c7; border-bottom-width:0; color:#FFF; display:block; font-size:110%; font-weight:bold; margin:0;	padding:0.2em;}

channel item description {display: block; float:none; margin:0; text-align: left; padding:0.2em 0.5em 0.4em; color: black; font-size:100%; font-weight:normal;}

channel item link {color:#666; display:block; font-size:86%; padding:0 0.5em;}