{if "{carousel:total_rows search:carousel_active='=y'}" > 0}
    <ul class="media-image slider carousel jcarousel-skin-default">
        {carousel search:carousel_active="=y"}
            <li><img src="{carousel_image:resized}" alt="{carousel_alt}" /></li>
        {/carousel}
    </ul>
{/if}