{if form}
{exp:freeform:form 
    collection="{title}" 
    notify="me@jarrettbarnett.com"
    template="admin_template" 
    send_user_email="yes" 
    user_email_template="user_email_template" 
    form:id="comment-form" 
    form:class="form" 
    required="{form search:field_required="=y" backspace="1"}{form_field}|{/form}"
    return="{page_uri}/success"
}
    <fieldset>
        <legend class="legend-heading">Please fill in the fields below...</legend>
        <ul>
        {form search:form_active="=y"}
            {exp:switchee variable = "{form_type}" parse="inward"}
                
                {case value="text"}
                    <li class="{form_field}">
                        <label for="{form_field}">{form_label}:</label>
                        <input class="input-text" type="text" name="{form_field}" id="field-{form_field}" placeholder="Enter your {form_field}" {if form_required}required{/if} />
                    </li>
                {/case}
                
                {case value="textarea"}
                    <li class="{form_field}">
                        <label for="{form_field}">{form_label}:</label>
                        <textarea name="{form_field}" id="field-{form_field}" class="input-{form_type}" rows="10" cols="40"{if form_required == 'y'} required{/if}></textarea>
                    </li>
                {/case}
                
                {case value="dropdown"}
                    <li class="{form_field}">
                        <label for="{form_field}">{form_label}:</label>
                        <select name="{form_field}" class="input-select"{if form_required == 'y'} required{/if}>
                            {form_options}<option value="{item}">{item}</option>{/form_options}
                        </select>
                    </li>
                {/case}
                
                {case value="multiselect"}
                    <li class="{form_field}">
                        <label for="{form_field}">{form_label}:</label>
                        <select name="{form_field}" multiple="multiple" class="input-{form_type}"{if form_required == 'y'} required{/if}>
                            {form_options}<option value="{item}">{item}</option>{/form_options}
                        </select>
                    </li>
                {/case}
                
            {/exp:switchee}
        {/form}
        </ul>
    </fieldset>
    <div class="action">
        <div class="button-wrapper">
            <button class="button highlight" type="submit">Submit Form</button>
        </div>
    </div>
{/exp:freeform:form}
{/if}