{getinvolved limit="1"}
    <aside class="sidebar ancillary" role="complementary">
        <h1 class="hidden">Related Content</h1>
        <div class="call-out highlight">
            <h2>{getinvolved_title}</h2>
            <ul class="call-out-content"> 
                <li>
                <div class="media-image">
                    <a href="{getinvolved_link}"><img src="{getinvolved_image}" alt="{getinvolved_title}" /></a>
                </div>
                <p>
                <p>{getinvolved_summary text_only="yes"} <a class="read-more" href="{getinvolved_link}">Read&nbsp;More</a></p>
                </li>
            </ul>
            <a class="call-out-link" href="{getinvolved_link}">Find our how to help</a>
        </div><!--callout-->
    </aside><!--sidebar.ancillary-->
{/getinvolved}