{!-- since we're only iterating once --}
{exp:playa:children field="inthespotlight" var_prefix="spotlight"}
<div class="articles spotlight">
    <h2>In the Spotlight</h2>
    <a class="all-articles-link" href="/news/article/{spotlight:url_title}">Full Story</a>
    <ul class="articles-list">
        <li class="list-item">
            <h3><a href="/news/article/{spotlight:url_title}">{spotlight:title}</a></h3>
            <p>{spotlight:news_preview text_only="yes"} <a class="read-more" href="/news/article/{spotlight:url_title}">Read&nbsp;More</a></p>
        </li>        
    </ul>
</div><!--articles-->
{/exp:playa:children}