/* ---------------------------------------------------------------------
Original Author: Chris Bennett
Contributors: N/A

Target Browsers: IE6
Media Type: Screen, Projection
Width: All Sizes
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
 Header
------------------------------------------------------------------------ */
#form-search {
    left: 600px;
}

/* ---------------------------------------------------------------------
 Sidebar Sub Nav
------------------------------------------------------------------------ */
.sub-nav ul .list-item {
/*    line-height: 1;*/
}

.sub-nav ul .list-item a {
/*    margin-top: -10px;*/
}

/* ---------------------------------------------------------------------
 Sidebar Ancillary
------------------------------------------------------------------------ */
.call-out {
    width: 238px;
    border: none;
    float: none;
}

.call-out h2 {
    font-size: 22px;
    text-transform: none;
}

.call-out-content h4 a {
    text-transform: none;
    font-size: 17px !important;
}

.call-out-content p {
    text-transform: none;
    color: #565148;
}

.call-out .list-item {
    padding-top: 0;
    margin-top: -5px;
}

.call-out .doc {
    margin-top: 0;
}

.call-out .list-item a {
    color: #565f48;
    font-weight: bold;
    padding-left: 15px;
    background: url("../images/sprite-sidebar-arrows.png") no-repeat -48px -77px;
    display: block;
}

.call-out .doc a,
.call-out .archive a {
    background: none;
}

.call-out .list-item a:hover {
    color: #ffffff;
}

.call-out .date-list {
    padding: 0;
}

.call-out .date-list .list-item {
    padding-bottom: 0;
}

.highlight .call-out-link {
    background: transparent;
    text-transform: none;
}

/* ---------------------------------------------------------------------
 Main Content
------------------------------------------------------------------------ */
#main-content .has-sidebar h1, #main-content .empty-sidebar h1 {
  width: 425px;
}

.details-list .list-item {
    width: 175px;
    float: left;
    position: static !important;
}

.user-content h2 {
    clear: both;
}

.interior button .icon_arrow {
    width: 85px;
}

.interior button .icon_add {
    width: 95px;
}

.interior button .icon_download {
    width: 110px;
}

.results .staff {
    zoom: 1;
}

.results-list .list-item {
    zoom: 1;
}

#main-content.interior {
    width: 709px;
}

.user-content .focus {
    zoom: 1;
}

/* ---------------------------------------------------------------------
 Forms
------------------------------------------------------------------------ */
#form-post-classified .name,
#form-post-classified .phone {
    zoom: 1;
    float: left;
}

#form-post-classified .phone {
    margin-bottom: 20px;
}

#form-post-classified .event-start-date,
#form-post-classified .event-start-time,
#form-post-classified .event-end-time {
    width: 150px;
}

#form-post-classified .event-end-time {
    float: none;
}

/* ---------------------------------------------------------------------
 Footer
------------------------------------------------------------------------ */
.site-info,
.banner {
    zoom: 1;
}

.site-info .link-group ul {
    margin-left: -15px;
}
