/* ---------------------------------------------------------------------
Original Author: Anthony Ticknor
Contributors: Chris Bennett

Target Browsers: IE7, IE6
Media Type: Screen, Projection
Width: All Sizes
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
 Global
------------------------------------------------------------------------ */
img { /* Bicubic resizing for non-native sized IMG */
    -ms-interpolation-mode: bicubic;
}

.pagination .active.list-item {
	padding-right: 0;
}

.address-info {
	font-style: normal;
}

/* ---------------------------------------------------------------------
 Homepage
------------------------------------------------------------------------ */
.featured .alt {
    padding: 6px 4px 10px;
}

/* ---------------------------------------------------------------------
 Sub Nav
------------------------------------------------------------------------ */
.sub-nav ul .list-item a {
/*	padding-top: 0;*/
}

/* ---------------------------------------------------------------------
 Interior Pages
------------------------------------------------------------------------ */
.social-count {
	left: 410px;
}

/* ---------------------------------------------------------------------
 Events & Stories
------------------------------------------------------------------------ */
.content-info .media-image + .details-list {
  float: left;
  width: 190px;
}

/* ---------------------------------------------------------------------
 Results
------------------------------------------------------------------------ */
#main-content .has-sidebar h1 {
    width: auto;
}

#form-filter {
    margin-bottom: 10px;
    zoom: 1;
}

#search-filter {
    width: 305px;
    margin-right: 5px;
}

#form-search button {
	margin-left: 5px;
	padding: 5px 8px;
}

.results h2 span {
    margin-top: -23px;
}

/* ---------------------------------------------------------------------
 Forms
------------------------------------------------------------------------ */
.message {
    zoom: 1;
}

.form li {
    overflow: visible;
}

#form-submit-story .textarea label,
#form-post-classified .textarea label {
    height: 20px;
}

#form-submit-story .textarea label span,
#form-post-classified .textarea label span {
    margin-top: -15px;
}

#form-post-classified .name,
#form-post-classified .phone {
    float: none;
}

#form-post-classified .phone {
    margin-bottom: 0;
}

.action .button-wrapper button {
    vertical-align: top;
}

.action .button-wrapper button.highlight { /*form submit button*/
    margin-left: 5px;
}

.action .button-wrapper button.mute { /*form cancel button*/
    margin-top: 4px;
}

.details {
    padding-bottom: 0;
}

.ie7-adjust {
    margin-top: -36px;
}