/* ---------------------------------------------------------------------
Original Author: Chris Bennett
Contributors: N/A

Target Browsers: IE8, IE7, IE6
Media Type: Screen, Projection
Width: All Sizes
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
 Global
------------------------------------------------------------------------ */
.input-text {
    padding: 7px 10px;
    height: 18px;
}

/* ---------------------------------------------------------------------
 Footer
------------------------------------------------------------------------ */
.site-info .banner {
    background: #605B50; 
}