/* ---------------------------------------------------------------------
Original Author: Anthony Ticknor
Contributors: Chris Bennett

Target Browsers: IE9, IE8, IE7, IE6
Media Type: Screen, Projection
Width: All Sizes
------------------------------------------------------------------------ */

.focus {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f3ef', endColorstr='#ffffff',GradientType=0 );
}

footer.site-info {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#777064', EndColorStr='#58534a');
}