.jcarousel-skin-default .jcarousel {
    position: relative;
    overflow: hidden;
    width: 75%;
    height: 250px;
}

.jcarousel-skin-default ul {
    width: 20000px;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel-skin-default li {
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
    height: 291px;
    position: relative;
}

*[dir=rtl] .jcarousel-skin-default li {
    float: right;
    margin: 0 0 0 10px;
}

/** Custom **/

.jcarousel-skin-default li img {
    border: 0;
}

.jcarousel-skin-default .jcarousel-container-horizontal {
    width: 940px;

}

.jcarousel-skin-default .jcarousel-clip {
    overflow: hidden;
    margin: 0 auto;
}

.jcarousel-skin-default .jcarousel-item {
    width: 940px;
    height: 290px;
}

.jcarousel-skin-default .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-default .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-default .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

.jcarousel-skin-default {
    margin: 0 0 10px 2px;
}
