/* ---------------------------------------------------------------------
Original Author: Chris Bennett
Contributors: Anthony Ticknor

Target Browsers: All
Media Type: Screen, Projection
Width: All Sizes
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
 Global Styles
------------------------------------------------------------------------ */
* {
    outline: none;
}

body {
    background: transparent url(../images/bg-pattern-sandstone.png) repeat;
    color: #565148;
    font: 12px/1.4 "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

a {
    color: #548d84;
    text-decoration: none;
    cursor:pointer;
    -webkit-transition: color .12s ease-in-out;
    -moz-transition: color .12s ease-in-out;
    -ms-transition: color .12s ease-in-out;
    -o-transition: color .12s ease-in-out;
    transition: color .12s ease-in-out;
}

a:hover {
    text-decoration: none;
}

::-moz-selection{
    background: #565148;
    color: #f6f1e8;
    text-shadow: none;
}

::selection {
    background: #565148;
    color: #f6f1e8;
    text-shadow: none;
}

/* ---------------------------------------------------------------------
 Utility Classes
------------------------------------------------------------------------ */
.hidden {
    position: absolute; 
    left: -9999px;
}

.focus {
    background: #f5f3ef;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f3ef), color-stop(100%,#ffffff)); 
    background: -webkit-linear-gradient(top, #f5f3ef 0%,#ffffff 100%);
    background: -moz-linear-gradient(top, #f5f3ef 0%, #ffffff 100%); 
    background: -o-linear-gradient(top, #f5f3ef 0%,#ffffff 100%); 
    background: -ms-linear-gradient(top, #f5f3ef 0%,#ffffff 100%); 
    background: linear-gradient(top, #f5f3ef 0%,#ffffff 100%);
}

/* ---------------------------------------------------------------------
 Header
------------------------------------------------------------------------ */
.masthead {
    background: transparent url(../images/bg-pattern-olive.png) repeat;
}

.masthead .wrapper {
    height: 156px;
    background: #fff;
    position: relative;
    -webkit-box-shadow: 0 0 6px rgba(20,20,20,.4);
    -moz-box-shadow: 0 0 8px rgba(20,20,20,.4);
    -ms-box-shadow: 0 0 6px rgba(20,20,20,.4);
    -o-box-shadow: 0 0 6px rgba(20,20,20,.4);
    box-shadow: 0 0 6px rgba(20,20,20,.4);
}

.logo {
    height: 109px;
    width: 452px;
    background: transparent url(../images/logo.png) no-repeat 0 0;
    text-indent: -9999px;
    display: block;
    margin: 0 20px 0;
}

/* ---------------------------------------------------------------------
 Navigation
------------------------------------------------------------------------ */
.nav-main {
    height: 47px;
    background: #565148;
    position: relative;
    -webkit-box-shadow: inset 0 0 6px 0 #3c3831;
    -moz-box-shadow: inset 0 0 6px 0 #3c3831;
    -ms-box-shadow: inset 0 0 6px 0 #3c3831;
    -o-box-shadow: inset 0 0 6px 0 #3c3831;
    box-shadow: inset 0 0 6px 0 #3c3831;
}

.nav-main:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    height: 10px;
    width: 100%;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(rgba(20,20,20,.06)));
    background: -webkit-linear-gradient(top, transparent, rgba(20,20,20,.06));
    background: -moz-linear-gradient(top, transparent, rgba(20,20,20,.06));
    background: -ms-linear-gradient(top, transparent, rgba(20,20,20,.06));
    background: -o-linear-gradient(top, transparent, rgba(20,20,20,.06));
    background: linear-gradient(top, transparent, rgba(20,20,20,.06));
}

.nav-main:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 10px;
    width: 100%;
    z-index: 999;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(20,20,20,.06)), to(transparent));
    background: -webkit-linear-gradient(top, rgba(20,20,20,.06), transparent));
    background: -moz-linear-gradient(top, rgba(20,20,20,.06), transparent);
    background: -ms-linear-gradient(top, rgba(20,20,20,.06), transparent);
    background: -o-linear-gradient(top, rgba(20,20,20,.06), transparent);
    background: linear-gradient(top, rgba(20,20,20,.06), transparent);
}

.nav-main li {
    display: block;
    float: left;
}

.nav-main a {
    display: block;
    height: 47px;
    color: #ebe3d6;
    font: 100 23px/47px "HelveticaNeue-UltraLight", "HelveticaNeueUltraLight", "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    border-right: 1px solid #3b3b3a;
    border-left: 1px solid #666157;
    -webkit-transition: background .1s ease-in-out;
    -moz-transition: background .1s ease-in-out;
    -ms-transition: background .1s ease-in-out;
    -o-transition: background .1s ease-in-out;
    transition: background .1s ease-in-out;
    padding: 0 26px;
}

.nav-main li:first-child a {
    border-left: 1px solid #3b3b3a;
}

.nav-main li.active a {
    background: #474239;
    color: #aba59a;
    -webkit-box-shadow: inset 0 0 6px 0 #28251f;
    -moz-box-shadow: inset 0 0 6px 0 #28251f;
    -ms-box-shadow: inset 0 0 6px 0 #28251f;
    -o-box-shadow: inset 0 0 6px 0 #28251f;
    box-shadow: inset 0 0 6px 0 #28251f;
}

.nav-main li a:hover {
    background: #7f786b;
    color: #f1f1f1;
    -webkit-box-shadow: inset 0 0 6px 0 #5c554a;
    -moz-box-shadow: inset 0 0 6px 0 #5c554a;
    -ms-box-shadow: inset 0 0 6px 0 #5c554a;
    -o-box-shadow: inset 0 0 6px 0 #5c554a;
    box-shadow: inset 0 0 6px 0 #5c554a;
}

.nav-main li:first-child a:hover {
    border-left-color: #70695d;
}

.nav-main li:last-child a:hover {
    border-right-color: #70695d;
}
.nav-main li.last a {
    width: 108px;
}

.nav-member {
    position: absolute;
    top: 8px;
    right: 15px;
}

/* ---------------------------------------------------------------------
 Header - Search
------------------------------------------------------------------------ */
#form-search input {
    width: 234px;
    vertical-align: middle;
}

#form-search button {
    vertical-align: middle;
}

/* ---------------------------------------------------------------------
 Content
------------------------------------------------------------------------ */
.content-main {
    position: relative;
}

.content-main a:hover {
    text-decoration: underline;
}

.content-main:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 3px solid #f6f3ec;
    z-index: -99;
}

.content-main .wrapper {
    background: #fff;
    min-height: 600px;
    margin-bottom: 30px;
    padding-left: 7px;
    padding-bottom: 5px;
    padding-top: 10px;
    width: 953px;
    -webkit-box-shadow: 0 0 6px rgba(20,20,20,.2);
    -moz-box-shadow: 0 0 8px rgba(20,20,20,.2);
    -ms-box-shadow: 0 0 6px rgba(20,20,20,.2);
    -o-box-shadow: 0 0 6px rgba(20,20,20,.2);
    box-shadow: 0 0 6px rgba(20,20,20,.2);
    overflow: hidden;
}

.full {
    width: 953px;
}

/* ---------------------------------------------------------------------
 Main Content
------------------------------------------------------------------------ */
#main-content {
    width: 706px;
    float: left;
    overflow: hidden;
}

#main-content > .media-image {
    margin-bottom: 15px;
}

#main-content .heading-wrapper {
    border-bottom: 1px solid #cfc7b8;
    padding-bottom: 5px;
    margin-right: 7px;
    margin-bottom: 5px;
}

.article-head {
    margin-bottom: 10px;
}

#main-content h1 {
    font: 100 24px/26px "HelveticaNeue-UltraLight", "HelveticaNeueUltraLight", "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#main-content .user-content .heading-wrapper {
    margin-right: 0;
}

.read-more {
    font-weight: bold;
}

.action {
    border-top: 1px solid #948d81;
    line-height: 3;
    margin-right: 7px;
    overflow: hidden;
    padding-right: 35px;
    padding-top: 5px;
}

.action .button-wrapper {
    float: right;
}

/* ---------------------------------------------------------------------
 Interior Main Content
------------------------------------------------------------------------ */
#main-content.interior {
    float: none;
    width: auto;
    margin-top: 15px;
    position: relative;
}

.interior.has-sidebar .user-content {
    width: 463px;
    margin-bottom: 10px;
}

.user-content > h2 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 14px;
}

.user-content > h3 {
    margin-top: 28px;
    font-size: 16px;
    font-weight: bold;
    color: #697f4b;
    margin-bottom: 5px;
}

.user-content > p a {
    font-weight: bold;
}

.user-content > ul {
    list-style: disc inside none;
    margin-bottom: 15px;
    margin-left: 25px;
    line-height: 1.7;
}

.user-content .button.dark {
    float: right;
}

.link-group {
    line-height: 1.7;
    list-style: disc inside;
    line-height: 1.8;
    margin-left: 20px;
}

.link-group a {
    font-weight: bold;
}

/* ---------------------------------------------------------------------
 Interior Main Content - Results List
------------------------------------------------------------------------ */
.results-list .list-item {
	overflow: hidden;
	margin-left: 5px;
	margin-bottom: 25px;
	line-height: 1.3;
	position: relative;
}

.results-list .media-image {
    float: left;
    margin-right: 9px;
}

.results-list .news-item {
    float: left;
    width: 372px;
}

.results-list h3 a {
	font-size: 16px;
	font-weight: bold;
}

.results-list h4 {
	font-weight: bold;
}

.timestamp {
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

.timestamp .sub-info {
    font-weight: normal;
    text-transform: none;
    margin-left: 10px;
}

.timestamp .category {
    text-transform: none;
    margin-right: 6px;
    padding-right: 6px;
    border-right: 2px solid #837f79;
}

.timestamp .source {
    padding-left: 10px;
    border-left: 1px solid #d1d1d1;
}



.results-list .email {
    font-weight: bold;
}

/* ---------------------------------------------------------------------
 Articles
------------------------------------------------------------------------ */
.articles {
    position: relative;
    margin-left: 5px;
    margin-bottom: 7px;
}

.articles.recent {
    float: left;
    width: 325px;
}

.articles.recent .list-item {
    clear: both;
    overflow: hidden;
    margin-bottom: 13px;
}

.articles.spotlight {
    float: left;
    width: 355px;
    margin-left: 20px;
}

.articles h2 {
    font: 100 24px/37px "HelveticaNeue-UltraLight", "HelveticaNeueUltraLight", "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-bottom: 1px solid #cfc7b8;
    margin-bottom: 13px;
}

.all-articles-link {
    font-weight: bold;
    position: absolute;
    right: 7px;
    top: 16px;
}

.articles .media-image {
    margin-right: 9px;
    float: left;
}

.articles.spotlight .media-image {
    float: right;
    margin: 0 9px;
}

.articles h3 a {
    font-weight: bold;
    font-size: 14px;
}

.articles.recent h3 a ,
.articles.spotlight h3 a {
	color: #565148;
}

.articles.spotlight h3 {
    margin-bottom: 5px;
}

.articles.spotlight p {
    line-height: 1.7;
}

/* ---------------------------------------------------------------------
 Featured
------------------------------------------------------------------------ */
.featured {
    position: relative;
    clear: both;
    overflow: hidden;
    margin-left: 5px;
}

.featured h2 {
    font: 100 24px/42px "HelveticaNeue-UltraLight", "HelveticaNeueUltraLight", "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-bottom: 1px solid #cfc7b8;
    margin-bottom: 13px;
}

.content-section-list {
    overflow: hidden;
}

.featured .list-item {
    float: left;
    width: 212px;
    height: 214px;
    border: 1px solid #eae2d6;
    padding: 4px 4px 7px;
    margin-right: 13px;
    background: url("../images/bg-pattern-sandstone-light.png") repeat;
    position: relative;
    z-index: 0;
}

.featured .list-item.last {
    margin: 0;
}

.featured .media-image {
    border: 1px solid #ebe4d7;
    height: 96px;
}

.featured .media-image a {
    display: block;
}

.featured .content {
    padding: 7px 5px 0 14px;
}

.featured h3 a {
    font-size: 14px;
    font: 200 18px/26px "HelveticaNeue-UltraLight", "HelveticaNeueUltraLight", "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #565148;    
}

.featured .content p {
    font: 100 14px/18px "HelveticaNeue-UltraLight", "HelveticaNeueUltraLight", "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.featured .button {
    position: absolute;
    bottom: 7px;
    right: 6px;
}

.featured .alt {
    padding: 6px 4px;
    height: auto;
}

.featured .alt .media-image {
    border: 0;
    height: auto;
    text-align: center;
}

.ancillary .featured .list-item {
	margin-bottom: 18px;
}

.slider {
    position: relative;
    margin: 0 0 10px 3px;
    width: 940px;
    height: 265px;
    overflow: hidden;
}

.jcarousel-next,
.jcarousel-prev {
    width: 38px;
    height: 265px;
    display: block;
    position: absolute;
    top: 0;
    cursor: pointer;
    background: url('../images/bg-slider-left.png') no-repeat;
}

.jcarousel-next  {
    right: 0;
    background-image: url('../images/bg-slider-right.png'); 
}

/* ---------------------------------------------------------------------
 Related
------------------------------------------------------------------------ */

.user-content .related-list {
    overflow: hidden;
    margin-bottom: 5px;
}

.related-list li:first-child {
    margin-right: 5px;
}

.related-list li {
    float: left;
    margin-right: 2px;
}

.related-list a {
    padding-right: 2px; 
    display: inline-block;
}

/* ---------------------------------------------------------------------
 Sidebar
------------------------------------------------------------------------ */
.sidebar {
    width: 238px;
    overflow: hidden;
}

.sidebar.sub-nav {
    float: left;
}

.sidebar.ancillary {
    float: right;
    clear: right;
}

.interior .sidebar.ancillary {
    margin-top: 30px;
}

/* ---------------------------------------------------------------------
 Sidebar - Sub-nav
------------------------------------------------------------------------ */
.content-main.has-sub-nav .wrapper {
    padding-left: 0;
    width: 960px;
}

.sub-nav {
    background: #eee7db;
    -moz-border-radius: 0 9px 0 0; /* FF1+ */
    -webkit-border-radius: 0 9px 0 0; /* Saf3-4, iOS 1+, Android 1.5+ */
    border-radius: 0 9px 0 0; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
    padding: 5px 5px 10px 10px;
    width: 223px;
    margin-right: 10px;
    margin-bottom: 10px;
    font: 200 16px "HelveticaNeue-UltraLight", "HelveticaNeueUltraLight", "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sub-nav ul li {
    line-height: 1;
}

.sub-nav ul li a {
    display: block;
    color: #565148;
    padding: 10px 0 10px 5px;
    border-bottom: 1px dashed #BEB9AF;
}

.sub-nav > ul > li.active > a span {
    background-position: -50px -235px;
}

.sub-nav ul li a:hover {
    text-decoration: underline;
}

.sub-nav ul .active a:hover {
    text-decoration: none;
}

.sub-nav ul .active a {
    background: #e2dcd1;
}

.sub-nav ul li a span {
    padding-left: 15px;
    display: block;
}

/* ---------------------------------------------------------------------
 Sidebar - Ancillary - Callout (Main)
------------------------------------------------------------------------ */
.call-out {
    background: #8fa472;
    -moz-border-radius: 9px 0 0 0; 
    -webkit-border-radius: 9px 0 0 0; 
    border-radius: 9px 0 0 0; 
    padding: 9px 0 9px 15px;
    margin-bottom: 18px;
    line-height: 1.2;
}

.call-out h2 {
    font: 200 20px/28px "HelveticaNeue-UltraLight", "HelveticaNeueUltraLight", "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    border-bottom: 1px solid #abc28c;
    padding-bottom: 5px;
    padding-left: 4px;
    margin-bottom: 9px;
}

.call-out .call-out-content > li a:hover {
	background: url('../images/sprite-sidebar-arrows.png') no-repeat 2px 3px;
	color: #ffffff;
}

.call-out .call-out-content > .active a:hover {
    background-position: 0 -156px;
}

.call-out .call-out-content li .sub-list-item a:hover {
    background-position: 10px -32px;
    color: #dcf0bb;
}

.call-out .call-out-content {
    margin-bottom: 10px;
    padding-right: 10px;
}

.doc a:hover span {
    background-position: -10px -25px;
}

.call-out .call-out-content > .doc a:hover,
.call-out .call-out-content > .archive a:hover {
    background: none;
}

.call-out .call-out-content p {
    line-height: 1.4;
}

.call-out .call-out-content .read-more {
    color: #565148;
}

.call-out .call-out-content .read-more:hover {
    color: #ffffff;
}

.archive a:hover span {
	background-position: -13px -23px;
}

.call-out .call-out-link {
    color: #ffffff;
    padding-left: 22px;
    font-weight: bold;
    background: url('../images/sprite-sidebar-arrows.png') no-repeat 10px 3px;
}

.interior .call-out {
    -moz-border-radius: 9px 0 0 9px; 
    -webkit-border-radius: 9px 0 0 9px; 
    border-radius: 9px 0 0 9px; 
}

/* ---------------------------------------------------------------------
 Sidebar - Ancillary - Callout Recent
------------------------------------------------------------------------ */
.recent h2 {
	font-weight: 100;
	font-size: 23px;
}

.recent li {
    padding: 10px 0 10px 4px;
    border-bottom: 1px dashed #a2b588;
}

.sidebar .recent li {
	font-weight: bold;
}

.recent li:first-child {
	padding-top: 3px;
}

.recent .call-out-content li a:hover {
	background: none;
	color: #ffffff;
}

/* ---------------------------------------------------------------------
 Sidebar - Ancillary - Callout Highlight (Bishop's Corner)
------------------------------------------------------------------------ */
.highlight {
    background: #5e9f95;
}

.highlight h2 {
    border-bottom: 1px solid #7cb8af;
	font-weight: 100;
	font-size: 23px;
}

.highlight .call-out-content {
    overflow: hidden;
    border-bottom: 1px dashed #7cb7ae;
    padding-bottom: 10px;
}

.highlight .media-image {
    float: left;
    margin-right: 8px;
    margin-bottom: 5px;
}

.highlight .call-out-content p {
    clear: both;
    font-size: 12px;
    line-height: 1.5;
}

.highlight .read-more {
    color: #a6e1d8;
}

.highlight .call-out-link {
    color: #a6e1d8;
    background: url('../images/sprite-sidebar-arrows.png') no-repeat -15px -37px;
    line-height: 0;
}

/* ---------------------------------------------------------------------
 Message
------------------------------------------------------------------------ */
.message {
    padding: 20px 25px;
    margin-right: 7px;
}

.message p {
    margin-bottom: 25px;
}

.message p span {
    font-weight: bold;
}

/* ---------------------------------------------------------------------
 Footer
------------------------------------------------------------------------ */
.site-info {
    background-color: #696358;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#777064), to(#58534a));
    background-image: -webkit-linear-gradient(top, #777064, #58534a);
    background-image: -moz-linear-gradient(top, #777064, #58534a);
    background-image: -ms-linear-gradient(top, #777064, #58534a);
    background-image: -o-linear-gradient(top, #777064, #58534a);
    background-image: linear-gradient(top, #777064, #58534a);
    overflow: hidden;
}

.site-info a:link,
.site-info a:visited {
    color: #a7a196;
}

.site-info a:hover {
    text-decoration: underline;
}

.site-info .wrapper {
    padding: 6px 0 12px 0;
}

.site-info .banner {
    background: rgba(20,20,20,.18);
    color: #f4efe5;
    padding: 11px 16px 8px;
    margin: 0 0 20px 0;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.7;
}

.site-info .banner .org {
    font: 100 21px/23px "HelveticaNeue-UltraLight", "HelveticaNeueUltraLight", "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
}

.site-info .banner address {
    float: left;
}

.site-info .banner .address-info {
    display: block;
    font-size: 14px;
}

.site-info .banner .contact-info {
    float: right;
    text-align: right;
    margin-top: -3px;
}

.site-info .banner .contact-info a {
    display: block;
}

.site-info .banner .contact-info a.email {
    text-decoration: underline;
    color: #d9eeeb;
}

.site-info .link-group {
    float: left;
    width: 180px;
    margin-right: 10px;
    margin-left: 0;
    color: #a7a196;
}

.site-info .link-group a {
    font-weight: normal;
}

.site-info .link-group h2 {
    font-size: 18px;
}

/* ---------------------------------------------------------------------
 Form & Button Classes
------------------------------------------------------------------------ */
.button {
    width: auto;
    overflow: visible; 
    text-align: center;
    cursor: pointer;
    font: 12px/1.4 "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button.alt {
    background: #a0b981;
    border: 3px solid #D9E6C7;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    padding: 7px 9px;
}

.button.highlight {
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 4px 10px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    border: 3px solid #d4ded8; 
    background: -moz-linear-gradient(top, #6dbaae 0%, #6daca2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6dbaae), color-stop(100%,#6daca2)); /* Chrome,Safari4+ */
    background: linear-gradient(top, #6dbaae 0%,#6daca2 100%); /* W3C */
    -moz-box-shadow: inset 0px 0px 5px #989892;
    box-shadow: inset 0px 0px 5px #989892;                                                                                                                                                            
}

.button.highlight:hover,
.button.slim:hover {
    text-decoration: none;
    background: -moz-linear-gradient(top, #4c9b8e 0%, #528e85 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c9b8e), color-stop(100%,#528e85)); /* Chrome,Safari4+ */
    background: linear-gradient(top, #4c9b8e 0%,#528e85 100%); /* W3C */
}

.button.dark:hover {
    background: -moz-linear-gradient(top, #575249 0%, #797266 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#575249), color-stop(100%,#797266)); /* Chrome,Safari4+ */
    background: linear-gradient(top, #575249 0%,#797266 100%); /* W3C */
}

.button.mute {
    border: 1px solid #b7ad9a;
    color: #565148;
    font-weight: bold;
    text-transform: uppercase;
    background: rgb(237,235,231);
    background: -moz-linear-gradient(top, rgba(237,235,231,1) 0%, rgba(225,223,218,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,235,231,1)), color-stop(100%,rgba(225,223,218,1)));
    background: linear-gradient(top, rgba(237,235,231,1) 0%,rgba(225,223,218,1) 100%);
}

.button.mute:hover {
    background: -moz-linear-gradient(top, rgba(225,223,218,1) 0%, rgba(237,235,231,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,223,218,1)), color-stop(100%,rgba(237,235,231,1)));
    background: linear-gradient(top, rgba(225,223,218,1) 0%,rgba(237,235,231,1) 100%);
}

.input-text,
.input-textarea,
.input-multiselect,
.input-select {
    border: 1px solid #b7ad9a;
    padding: 0 10px;
    margin: 0;
    -moz-box-shadow: 4px 4px 10px #CFCFCF inset;
    box-shadow: 4px 4px 10px #CFCFCF inset;
    font: 100 18px "HelveticaNeue-UltraLight", "HelveticaNeueUltraLight", "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #565148;
    font-size: 16px;
/*     -webkit-appearance: none; */
}

.input-text {
    height: 32px;  
    color: #565148;  
}

.input-text:focus,
.input-textarea:focus {
    border-color: #565148;
}
.input-select,
.input-multiselect {
    font-family: HelveticaNeue, "Helvetica Neue";
    width: 33%;
    height: 2em;
}
.input-multiselect {
    padding: 10px;
}
.input-multiselect option {
    padding: 4px 0;
}
/* ---------------------------------------------------------------------
 Pagination
------------------------------------------------------------------------ */
.pagination {
	text-transform: uppercase;
	font-weight: bold;
	border-top: 1px solid #847c6d;
	padding-top: 8px;
}

.pagination ol {
	float: right;
}

.pagination li {
	display: inline;
	padding: 2px 5px;
}

.view-all span {
  border-left: 2px solid #847C6D;
  padding-left: 10px;
}

.pagination li a {
	color: #565148;
}

.pagination li a:hover {
	text-decoration: underline;
}

.pagination li.active {
	background: #d0c7b8;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.pagination li.active a {
	color: #ffffff;
}

.pagination li.active a:hover {
	text-decoration: none;
}

/* ---------------------------------------------------------------------
 Forms - Global
------------------------------------------------------------------------ */
.form li {
    margin-bottom: 24px;
    overflow: hidden;
}

.form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.form .textarea {
    clear: both;
}

.form textarea {
    width: 584px;
    height: 140px;
}

/* ---------------------------------------------------------------------
 Form - Filter
------------------------------------------------------------------------ */

.filter {
    margin-bottom: 20px;
    padding: 5px;
    margin-top: -5px;
}

/* ---------------------------------------------------------------------
 Form - Submit Story
------------------------------------------------------------------------ */
#form-submit-story fieldset {
    padding-left: 20px;
    padding-right: 50px;
    margin-bottom: 10px;
}

#form-submit-story .name {
    clear: left;
    float: left;
}

#form-submit-story .name input {
    width: 231px;
    margin-right: 6px;
}

#form-submit-story .email {
    float: left;
}

#form-submit-story .email input {
    width: 325px;
}

/* ---------------------------------------------------------------------
 User Entered Content 
------------------------------------------------------------------------ */

.user-content h5 {
    font: 14px/1.4 Georgia, Times, "Times New Roman", serif;
    font-weight: normal;
    color: #ff0000;
}

.user-content h6 {
    font: 14px/1.4 Georgia, Times, "Times New Roman", serif;
    font-weight: normal;
    color: #ff0000;
}

.user-content h5,
.user-content h6,
.user-content p {
    margin: 0 0 14px 0;
}

.user-content ol {
    list-style: decimal;
    margin: 0 0 14px 0;
}

.user-content ul ul,
.user-content ol ol,
.user-content ul ol,
.user-content ol ul {
    margin-bottom: 0;
}

.user-content blockquote {
    margin: 0 22px 12px 22px;
    padding: 12px;
    background: #ff0000;
    font-style: italic;
}

.user-content table {
    margin: 0 0 12px 0;
    width: 100%;
}

.user-content table th {
    background: #ff0000;
    color: #ff0000;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    border: 1px solid #ff0000;
    vertical-align: middle;
    padding: 8px;
}

.user-content table td {
    background: #ff0000;
    border: 1px solid #ff0000;
    vertical-align: middle;
    padding: 8px;
}

.user-content hr {
    margin: 0 0 14px 0;
    background: #ff0000;
    color: #ff0000;
    height: 1px;
    border: none;
    line-height: 1px;
    font-size: 1px;
}

/* ---------------------------------------------------------------------
  Breadcrumbs
------------------------------------------------------------------------ */

.breadcrumbs {
    overflow: hidden;
    margin: 0 0 10px 25px;
}

.breadcrumbs li {
    float: left;
    margin: 0 5px 0 0;
}

.breadcrumbs a {
    display: inline-block;
    padding-right: 5px;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.instructions #main-content {
    margin-left: 20px;
}

.instructions ol {
    font-weight: bold;
}

.instructions {
    font-size: 13px;
}

.integration-list li {
    margin-bottom: 5px;
    font-size: 14px;
}

span.breadcrumb {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

/* ---------------------------------------------------------------------
  Comments
------------------------------------------------------------------------ */

.grid {
    float: left;
}

.comments .input-textarea {
    width: 434px;
    height: 150px;
}

.comments .input-text {
    width: 300px;
}

.comments .action {
    padding-right: 0;
}

.user-content .comment-list {
    list-style-type: none;
    margin-left: 0;
}

.comment-list li {
    overflow: hidden;
    border-bottom: 1px solid #CFC7B8;
    margin-bottom: 10px;
}

.comment-list .media-image {
    margin-right: 10px;
}

.comment-content {
    float: left;
    width: 360px;
}

.title {
    font-size: 14px;
    font-weight: bold;
}

.legend-heading {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 15px;
}

.no-gravatar {
    width: 100%;
}

/* ---------------------------------------------------------------------
 Index Map
------------------------------------------------------------------------ */

.index-map h2 {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}

.index-map ul {
    margin: 10px;
}

.copyright {
    color: #fff;
}
