<div class="articles recent">
    <h2>Latest News</h2>
    <a class="all-articles-link" href="/news/">See All</a>
    <ul class="articles-list">
        {exp:channel:entries channel="news" limit="2" dynamic="off"}
        <li class="list-item">
            {if news_featured}
            <div class="media-image">
                <a href="/news/article/"><img src="{news_featured:thumbnail}" alt="{title}" /></a>
            </div>
            {/if}
            <h3><a href="/news/article/{url_title}">{title}</a></h3>
            {if news_preview}
                {news_preview text_only="yes"} &#8230; <a class="read-more" href="/news/article/{url_title}">Read&nbsp;More</a>
            {if:else}
                <p>{exp:eehive_hacksaw chars="74" allow="" append=' &#8230; <a class="read-more" href="/news/article/{url_title}">Read&nbsp;More</a>'}{news_summary}{/exp:eehive_hacksaw}</p>
            {/if}
        </li>
        {/exp:channel:entries}
    </ul>
</div><!--articles-->
