body {
	background-color:#27343c;
	font-family:"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	text-align:center;
	font-size:12px;
	color:#ecf1f3;
	margin:0;
	padding:0;
}

#content {
	text-align:left;
	padding:160px 20px 5px;
	margin:40px auto 0;
	width:440px;
	background:url(../images/logo_nerdery.png) no-repeat center top;
}
#content form {
    width: 350px;
    margin: 0 56px;
}
h1 {
	font-weight:400;
	font-size:14px;
	color:#ecf1f3;
	margin:0 0 4px;
}

#branding {
	background:#27343c url(../images/branding_bg.gif) top left repeat-x;
	text-align:right;
	padding-right:125px;
}

#branding img {
	border:0;
}

a:link,a:visited {
	color: #7F8F87;
    text-decoration: none;
    margin: 12px 0 0 30px;
    float: left;
}

a:hover {
	text-decoration:underline;
}

dt {
	font-size:16px;
	line-height:24px;
	margin-bottom:5px;
}

dd {
	margin:0 0 15px;
	font-size:11px;
	line-height:24px;
	color:#666;
}

input {
	outline:0;
}

input,.error {
	font-size:16px;
	border:none;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	padding:10px;
	width:430px;
	margin-right:5px;
	color:#333;
}

input[type=checkbox] {
	width:auto;
}

span {
	margin-left:20px;
}

input.submit {
    background: #899a92;
    background: -webkit-gradient(linear, top, bottom, color-stop(0, #7F8F87), color-stop(1, #5E7068));
    background: -webkit-linear-gradient(bottom, #7F8F87 0%, #5E7068 100%);
    background: -webkit-linear-gradient(bottom, #7F8F87 0%, #5E7068 100%);
    background: -ms-linear-gradient(bottom, #7F8F87, #5E7068);
    background: -moz-linear-gradient(bottom, #7F8F87 0%, #5E7068 100%);
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 1px rgba(0,0,0,.1), 0 .3em 0 #474B49, 0 .4em .3em rgba(0,0,0,.5);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 1px rgba(0,0,0,.1), 0 .3em 0 #474B49, 0 .4em .3em rgba(0,0,0,.5);
    -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 1px rgba(0,0,0,.1), 0 .3em 0 #474B49, 0 .4em .3em rgba(0,0,0,.5);
    -o-box-shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 1px rgba(0,0,0,.1), 0 .3em 0 #474B49, 0 .4em .3em rgba(0,0,0,.5);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 1px rgba(0, 0, 0, .1), 0 .3em 0 #474B49, 0 .4em .3em rgba(0, 0, 0, .5);
    display: block;
    display: inline-block;
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    padding: .5em 1em;
    letter-spacing: 0.1em;
    border: 0;
    width: 100px;
    float: left;
}
input.submit:hover {
    background: #44524B;
    background: -webkit-gradient(linear, top, bottom, color-stop(0, #7F8F87), color-stop(1, #5E7068));
    background: -webkit-linear-gradient(bottom, #7F8F87 0%, #5E7068 100%);
    background: -ms-linear-gradient(bottom, #7F8F87, #5E7068);
    background: -moz-linear-gradient(bottom, #7F8F87 0%, #5E7068 100%);
}
input.submit:active
{
    background: #44524B;
    background: -webkit-gradient(linear, bottom, top, color-stop(0, #7F8F87), color-stop(1, #5E7068));
    background: -webkit-linear-gradient(top, #7F8F87 0%, #5E7068 100%);
    background: -ms-linear-gradient(top, #7F8F87, #5E7068);
    background: -moz-linear-gradient(top, #7F8F87 0%, #5E7068 100%);
    -webkit-box-shadow: inset 0 3px 3px rgba(0,0,0,.25), 0 2px 0 #44524B, 0 .1em .1em rgba(0,0,0,.5);
    -moz-box-shadow: inset 0 3px 3px rgba(0,0,0,.25), 0 2px 0 #44524B, 0 .1em .1em rgba(0,0,0,.5);
    -ms-box-shadow: inset 0 3px 3px rgba(0,0,0,.25), 0 2px 0 #44524B, 0 .1em .1em rgba(0,0,0,.5);
    -o-box-shadow: inset 0 3px 3px rgba(0,0,0,.25), 0 2px 0 #44524B, 0 .1em .1em rgba(0,0,0,.5);
    box-shadow: inset 0 3px 3px rgba(0,0,0,.25), 0 2px 0 #44524B, 0 .1em .1em rgba(0,0,0,.5);
    margin-top: .3em;
}

.error {
	font-size:14px;
	color:#ce0000;
	background:#fdf5b2 url(../images/error.png) no-repeat 8px 10px;
	border:1px solid #f3d589;
	padding:3px 15px 3px 25px;
	margin:-48px 0 20px;
	width:374px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-o-border-radius:6px;
	border-radius:6px;
}

.error p {
	margin:8px 0;
}