/**************************************************************
#
# 		Author: Jarrett Barnett
# 		Email: developer@jarrettbarnett.com
# 		Profile: jarrettbarnett.com
#				 linkedin.com/in/jarrettbarnett
#		Notes: Needs some major cleanup, but it works.
#
/**************************************************************/
/* @import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700); */

body {
    font-family: 'Lucida Grande', 'Lucida Sans',Arial,'Helvetica Neue',Helvetica,sans-serif;
}
#mainWrapper a {
    color: #333;
}
#breadCrumb {
    border-bottom: 1px solid #e5e5e5 !important;
    padding: 0px !important;
}
#breadCrumb ol li {
    background: #ecf1f4 url("../images/cp_sprite.png") right -94px no-repeat !important;
    font-size: 11px !important;
    line-height: 22px;
    padding-right: 30px !important;
}
#breadCrumb ol li.last {
    color: #13191d !important;
}
#breadCrumb ol li.last:after {
    display: none;
}
#breadCrumb ol li a {
    color: #27343C !important;
}
#activeUser {
    background: #899a92 !important;
    line-height: 20px !important;
}
#activeUser a {
    color: #fff !important;
    text-transform: uppercase !important;
    font-size: 10px !important;
}
#activeUser a.logOutButton {
    text-transform: capitalize !important;
}
#sideBar li a:link, #sideBar li a:visited {
    color: #7C8B83 !important;
    border-bottom: none;
}
#search, #notePad {
    display: none !important;
}
input.submit, input#edit_file, input#edit_image, button[type="button"], a#edit_file, a#edit_image, a.submit {
    background: #7C8B83;
    background: -webkit-gradient(linear,  50% 0%,  50% 100%,  color-stop(0%,  #7C8B83),  color-stop(100%,  #4c642f)) !important;
    background: -webkit-linear-gradient(top,  #7C8B83, #4c642f) !important;
    background: -moz-linear-gradient(top,  #7C8B83, #4c642f) !important;
    background: -o-linear-gradient(top,  #7C8B83, #4c642f) !important;
    background: -ms-linear-gradient(top,  #7C8B83, #4c642f) !important;
    background: linear-gradient(top,  #7C8B83, #4c642f) !important;
    border: 1px solid #5b7938 !important;
    -moz-border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -o-border-radius: 2px !important;
    -ms-border-radius: 2px !important;
    -khtml-border-radius: 2px !important;
    border-radius: 2px !important;
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 4px rgba(87, 87, 87, 0.7);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 4px rgba(87, 87, 87, 0.7);
    -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 4px rgba(87, 87, 87, 0.7);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 4px rgba(87, 87, 87, 0.7);
    color: #fff !important;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}
input.submit:hover, input#edit_file:hover, input#edit_image:hover, button[type="button"]:hover, a#edit_file:hover, a#edit_image:hover, a.submit:hover {
    background: -webkit-gradient(linear,  50% 0%,  50% 100%,  color-stop(0%,  #7C8B83),  color-stop(100%,  #7C8B83)) !important;
    background: -webkit-linear-gradient(top,  #7C8B83, #7C8B83) !important;
    background: -moz-linear-gradient(top,  #7C8B83, #7C8B83) !important;
    background: -o-linear-gradient(top,  #7C8B83, #7C8B83) !important;
    background: -ms-linear-gradient(top,  #7C8B83, #7C8B83) !important;
    background: linear-gradient(top,  #7C8B83, #7C8B83) !important;
    text-decoration: none !important;
}
#action_nav li a:link, #action_nav li a:visited {
    text-shadow: none !important;
}
.cp_button {
    margin-left: 0 !important;
}
.button .submit, #action_nav li a:link, #action_nav li a:visited, #tools .submit, #noticeContents .submit, .cp_button a {
    background: #fff;
    background: -webkit-gradient(linear,  50% 0%,  50% 100%,  color-stop(0%,  #ffffff),  color-stop(100%,  #cccccc)) !important;
    background: -webkit-linear-gradient(top,  #ffffff, #cccccc) !important;
    background: -moz-linear-gradient(top,  #ffffff, #cccccc) !important;
    background: -o-linear-gradient(top,  #ffffff, #cccccc) !important;
    background: -ms-linear-gradient(top,  #ffffff, #cccccc) !important;
    background: linear-gradient(top,  #ffffff, #cccccc) !important;
    border: 1px solid #dbdbdb !important;
    -moz-border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -o-border-radius: 2px !important;
    -ms-border-radius: 2px !important;
    -khtml-border-radius: 2px !important;
    border-radius: 2px !important;
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    color: #3e4c54 !important;
    font-size: 11px;
    margin: 0 auto;
    padding: 3px 7px;
    text-align: center;
    text-decoration: none;
}
.button .submit:hover, #action_nav li a:link:hover, #action_nav li a:visited:hover, #tools .submit:hover, #noticeContents .submit:hover, .cp_button a:hover {
    background: #fff !important;
    background: -webkit-gradient(linear,  50% 0%,  50% 100%,  color-stop(0%,  #ffffff),  color-stop(100%,  #ffffff));
    background: -webkit-linear-gradient(top,  #ffffff, #ffffff);
    background: -moz-linear-gradient(top,  #ffffff, #ffffff);
    background: -o-linear-gradient(top,  #ffffff, #ffffff);
    background: -ms-linear-gradient(top,  #ffffff, #ffffff);
    background: linear-gradient(top,  #ffffff, #ffffff);
    text-decoration: none !important;
}
#noticeContents .submit {
    clear: both;
}
#checksumFailure > li {
    color: #3e4c54;
}
#checksumFailure ul li {
    list-style-type: disc;
    margin-top: 10px;
    margin-left: 30px;
}
#mainContent .formArea .formHeading .newTemplate {
    background: #7C8B83;
    background: -webkit-gradient(linear,  50% 0%,  50% 100%,  color-stop(0%,  #7C8B83),  color-stop(100%,  #4c642f));
    background: -webkit-linear-gradient(top,  #7C8B83, #4c642f);
    background: -moz-linear-gradient(top,  #7C8B83, #4c642f);
    background: -o-linear-gradient(top,  #7C8B83, #4c642f);
    background: -ms-linear-gradient(top,  #7C8B83, #4c642f);
    background: linear-gradient(top,  #7C8B83, #4c642f);
    border: 1px solid #5b7938 !important;
    -moz-border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -o-border-radius: 2px !important;
    -ms-border-radius: 2px !important;
    -khtml-border-radius: 2px !important;
    border-radius: 2px !important;
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7), inset 0px 0px 4px rgba(87, 87, 87, 0.1);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7), inset 0px 0px 4px rgba(87, 87, 87, 0.1);
    -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7), inset 0px 0px 4px rgba(87, 87, 87, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7), inset 0px 0px 4px rgba(87, 87, 87, 0.1);
}
#mainContent .formArea .formHeading .newTemplate a {
    color: #fff !important;
    font-size: 11px;
    text-shadow: #666666 0.1px -1px 0.1px;
}
#mainContent .formArea .formHeading .newTemplate a:hover {
    background: -webkit-gradient(linear,  50% 0%,  50% 100%,  color-stop(0%,  #7C8B83),  color-stop(100%,  #7C8B83));
    background: -webkit-linear-gradient(top,  #7C8B83, #7C8B83);
    background: -moz-linear-gradient(top,  #7C8B83, #7C8B83);
    background: -o-linear-gradient(top,  #7C8B83, #7C8B83);
    background: -ms-linear-gradient(top,  #7C8B83, #7C8B83);
    background: linear-gradient(top,  #7C8B83, #7C8B83);
    text-decoration: none !important;
}
#templates .column .formHeading, #templateGroups .column .formHeading {
    -moz-border-radius-topleft: 2px !important;
    -webkit-border-top-left-radius: 2px !important;
    -o-border-top-left-radius: 2px !important;
    -ms-border-top-left-radius: 2px !important;
    -khtml-border-top-left-radius: 2px !important;
    border-top-left-radius: 2px !important;
    -moz-border-radius-topright: 2px !important;
    -webkit-border-top-right-radius: 2px !important;
    -o-border-top-right-radius: 2px !important;
    -ms-border-top-right-radius: 2px !important;
    -khtml-border-top-right-radius: 2px !important;
    border-top-right-radius: 2px !important;
}
.groupList {
    -moz-border-radius-bottomleft: 2px !important;
    -webkit-border-bottom-left-radius: 2px !important;
    -o-border-bottom-left-radius: 2px !important;
    -ms-border-bottom-left-radius: 2px !important;
    -khtml-border-bottom-left-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
    -moz-border-radius-bottomright: 2px !important;
    -webkit-border-bottom-right-radius: 2px !important;
    -o-border-bottom-right-radius: 2px !important;
    -ms-border-bottom-right-radius: 2px !important;
    -khtml-border-bottom-right-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
}
.groupList .templateGroupName:hover {
    color: #7C8B83 !important;
}
.groupList .selected .templateGroupName:hover {
    color: #fff !important;
}
.formArea {
    -moz-border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -o-border-radius: 2px !important;
    -ms-border-radius: 2px !important;
    -khtml-border-radius: 2px !important;
    border-radius: 2px !important;
}
#templates td a {
    background: -webkit-gradient(linear,  50% 0%,  50% 100%,  color-stop(0%,  #ffffff),  color-stop(100%,  #cccccc));
    background: -webkit-linear-gradient(top,  #ffffff, #cccccc);
    background: -moz-linear-gradient(top,  #ffffff, #cccccc);
    background: -o-linear-gradient(top,  #ffffff, #cccccc);
    background: -ms-linear-gradient(top,  #ffffff, #cccccc);
    background: linear-gradient(top,  #ffffff, #cccccc);
    border: 1px solid #dbdbdb !important;
    -moz-border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -o-border-radius: 2px !important;
    -ms-border-radius: 2px !important;
    -khtml-border-radius: 2px !important;
    border-radius: 2px !important;
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    color: #3e4c54 !important;
    font-size: 11px;
    margin: 0 auto;
    padding: 3px 7px;
    text-align: center;
    text-decoration: none;
}
#templates td a:hover {
    background: -webkit-gradient(linear,  50% 0%,  50% 100%,  color-stop(0%,  #ffffff),  color-stop(100%,  #ffffff));
    background: -webkit-linear-gradient(top,  #ffffff, #ffffff);
    background: -moz-linear-gradient(top,  #ffffff, #ffffff);
    background: -o-linear-gradient(top,  #ffffff, #ffffff);
    background: -ms-linear-gradient(top,  #ffffff, #ffffff);
    background: linear-gradient(top,  #ffffff, #ffffff);
    text-decoration: none !important;
}
#templates .templateName a {
    background: none !important;
    border: none !important;
    -moz-border-radius: none !important;
    -webkit-border-radius: none !important;
    -o-border-radius: none !important;
    -ms-border-radius: none !important;
    -khtml-border-radius: none !important;
    border-radius: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    color: #3e4c54 !important;
    font-weight: bold;
    text-shadow: none !important;
}
#templates .cellRight a {
    background: #de001f;
    background: -webkit-gradient(linear,  50% 0%,  50% 100%,  color-stop(0%,  #de001f),  color-stop(100%,  #780011)) !important;
    background: -webkit-linear-gradient(top,  #de001f, #780011) !important;
    background: -moz-linear-gradient(top,  #de001f, #780011) !important;
    background: -o-linear-gradient(top,  #de001f, #780011) !important;
    background: -ms-linear-gradient(top,  #de001f, #780011) !important;
    background: linear-gradient(top,  #de001f, #780011) !important;
    border: 1px solid #970015 !important;
    -moz-border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -o-border-radius: 2px !important;
    -ms-border-radius: 2px !important;
    -khtml-border-radius: 2px !important;
    border-radius: 2px !important;
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 4px rgba(87, 87, 87, 0.7) !important;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 4px rgba(87, 87, 87, 0.7) !important;
    -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 4px rgba(87, 87, 87, 0.7) !important;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 4px rgba(87, 87, 87, 0.7) !important;
    color: #fff !important;
    font-size: 11px;
    margin: 0 auto;
    padding: 3px 7px;
    text-align: center;
    text-shadow: #253117 0.1px -1px 0.1px;
}
#templates .cellRight a:hover {
    background: -webkit-gradient(linear,  50% 0%,  50% 100%,  color-stop(0%,  #de001f),  color-stop(100%,  #de001f)) !important;
    background: -webkit-linear-gradient(top,  #de001f, #de001f) !important;
    background: -moz-linear-gradient(top,  #de001f, #de001f) !important;
    background: -o-linear-gradient(top,  #de001f, #de001f) !important;
    background: -ms-linear-gradient(top,  #de001f, #de001f) !important;
    background: linear-gradient(top,  #de001f, #de001f) !important;
    text-decoration: none !important;
}
#branding {
    display: none;
}
#mainMenu #navigationTabs {
    margin-top: 0px !important;
    padding: 10px 0 0;
}
#mainMenu #navigationTabs > li.parent > a:after, #mainMenu #navigationTabs li.parent:focus > a:after, #mainMenu #navigationTabs li.parent.active > a:after {
    border: none;
    content: "▼";
    color: #586c77 !important;
    display: inline;
    font-size: 8px;
    margin-left: 5px;
    position: relative;
    top: 0px;
}
#mainMenu #navigationTabs > li {
    position: relative;
}
#mainMenu #navigationTabs > li > a {
    background: url("../images/form_area_heading_bg.gif") repeat-x scroll left bottom #39464F;
    border: 1px solid #272E33 !important;
    border-bottom: 0px !important;
    display: block;
    margin-bottom: 0 !important;
    padding: 12px 16px 14px 18px;

    font: 400 14px 'Droid Sans';
    text-shadow: 0 0 2px #29343C;
    filter: dropshadow(color=#222, offx=0, offy=0); 

    -moz-border-radius: 4px 4px 0 0 !important;
    -webkit-border-radius: 4px 4px 0 0 !important;
    -o-border-radius: 4px 4px 0 0 !important;
    -ms-border-radius: 4px 4px 0 0 !important;
    -khtml-border-radius: 4px 4px 0 0 !important;
    border-radius: 4px 4px 0 0 !important;
/*    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 10px rgba(87, 87, 87, 0.7);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 10px rgba(87, 87, 87, 0.7);
    -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 10px rgba(87, 87, 87, 0.7);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 10px rgba(87, 87, 87, 0.7);*/
}
#mainMenu #navigationTabs > li > a.addTab {
    color: #7C8B83 !important;
}
#mainMenu #navigationTabs > li > a.addTab, #mainMenu #navigationTabs > li > a.addTab:hover {
    background: none !important;
    border: none !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -khtml-border-radius: 0px !important;
    border-radius: 0px !important;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
#mainMenu #navigationTabs > li > a:hover,
#mainMenu #navigationTabs > li.active > a {
    background: -webkit-gradient(linear,  50% 0%,  50% 100%,  color-stop(0%,  #D6E1E7),  color-stop(100%,  #ECF1F4)) !important;
    background: -webkit-linear-gradient(top,  #D6E1E7, #ECF1F4) !important;
    background: -moz-linear-gradient(top,  #D6E1E7, #ECF1F4) !important;
    background: -o-linear-gradient(top,  #D6E1E7, #ECF1F4) !important;
    background: -ms-linear-gradient(top,  #D6E1E7, #ECF1F4) !important;
    background: linear-gradient(top,  #D6E1E7, #ECF1F4) !important;

/*    background: -moz-linear-gradient(center top , #D6E1E7, #ECF1F4) repeat scroll 0 0 transparent;*/
    border: 1px solid transparent !important;
    border-bottom: 0px !important;
    text-shadow: 0 0 2px #829199;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.25s ease-in;
    -ms-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    color: #2E3133 !important;
    
    -moz-border-radius: 4px 4px 0 0 !important;
    -webkit-border-radius: 4px 4px 0 0 !important;
    -o-border-radius: 4px 4px 0 0 !important;
    -ms-border-radius: 4px 4px 0 0 !important;
    -khtml-border-radius: 4px 4px 0 0 !important;
    border-radius: 4px 4px 0 0 !important;
}
#navigationTabs li a.first_level, #navigationTabs li a.first_level:link, #navigationTabs li a.first_level:visited
{
    margin: 0 2px 15px !important;
}
#mainMenu #navigationTabs > li.active > a {
background: #D6E1E7 !important;
}
#mainMenu #navigationTabs > li > a:focused > a.first_level:hover {
    background: #7C8B83 !important;
}
#mainMenu #navigationTabs > li li:hover, #mainMenu #navigationTabs > li li:focus:hover, #mainMenu #navigationTabs > li li.hover {
    background: #7C8B83 !important;
}
#mainMenu #navigationTabs > li:first-child a {
    border-left: none;
}
#mainMenu #navigationTabs > li:last-child a {
    border-right: none;
}
#mainMenu #navigationTabs > li ul {
    -moz-border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -o-border-radius: 2px !important;
    -ms-border-radius: 2px !important;
    -khtml-border-radius: 2px !important;
    border-radius: 2px !important;
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}
#mainMenu #navigationTabs > li > ul {
    margin-top: -2px !important;
    margin-left: 5px !important;
}
#mainMenu #navigationTabs > li > li.parent > a:after, #mainMenu #navigationTabs > li li.parent:focus > a:after, #mainMenu #navigationTabs > li li.parent.active > a:after {
    display: none !important;
}
#mainMenu #navigationTabs > li li.parent:focus, #mainMenu #navigationTabs > li li.parent.active, #mainMenu #navigationTabs > li li.parent:focus > a, #mainMenu #navigationTabs > li li.parent.active > a, #mainMenu #navigationTabs > li li a:hover, #mainMenu #navigationTabs > li li:focus a:hover {
/*    background: #7C8B83 !important;*/
background: url("../images/form_area_heading_bg.gif") repeat-x scroll left bottom #39464F;
    color: #fff !important;
    width: 170px;
}
.create h2, .modify h2, .view h2 {
    background: none !important;
    font-family: Arial;
    margin-left: 7px;
}
.contentMenu {
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) !important;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) !important;
    -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) !important;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) !important;
    -moz-border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -o-border-radius: 2px !important;
    -ms-border-radius: 2px !important;
    -khtml-border-radius: 2px !important;
    border-radius: 2px !important;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    -o-background-clip: padding-box;
    -ms-background-clip: padding-box;
    -khtml-background-clip: padding-box;
    background-clip: padding-box;
}
.contentMenu .heading {
    background: #5e7480 !important;
    -moz-border-radius-topleft: 2px !important;
    -webkit-border-top-left-radius: 2px !important;
    -o-border-top-left-radius: 2px !important;
    -ms-border-top-left-radius: 2px !important;
    -khtml-border-top-left-radius: 2px !important;
    border-top-left-radius: 2px !important;
    -moz-border-radius-topright: 2px !important;
    -webkit-border-top-right-radius: 2px !important;
    -o-border-top-right-radius: 2px !important;
    -ms-border-top-right-radius: 2px !important;
    -khtml-border-top-right-radius: 2px !important;
    border-top-right-radius: 2px !important;
    -moz-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5) !important;
    -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5) !important;
    -o-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5) !important;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5) !important;
    border: 1px solid #495963 !important;
    margin: -1px -1px 0 -1px !important;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    -o-background-clip: padding-box;
    -ms-background-clip: padding-box;
    -khtml-background-clip: padding-box;
    background-clip: padding-box;
}
.contentMenu .heading h2 {
    font-size: 18px !important;
    padding: 8px !important;
    text-shadow: #000 0 -1px 0;
}
.contentMenu .heading h2 span {
    font-size: 14px;
}
.contentMenu ul {
    -moz-border-radius-bottomleft: 2px !important;
    -webkit-border-bottom-left-radius: 2px !important;
    -o-border-bottom-left-radius: 2px !important;
    -ms-border-bottom-left-radius: 2px !important;
    -khtml-border-bottom-left-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
    -moz-border-radius-bottomright: 2px !important;
    -webkit-border-bottom-right-radius: 2px !important;
    -o-border-bottom-right-radius: 2px !important;
    -ms-border-bottom-right-radius: 2px !important;
    -khtml-border-bottom-right-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
}
.contentMenu ul li:first-child a {
    border-top: none !important;
}
.contentMenu ul li a {
    color: #27343c !important;
}
#accessoryTabs {
    border-top: 1px solid #e5e5e5 !important;
    margin-left: 0px !important;
}
#accessoryTabs:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
#accessoryTabs ul li {
    background: none !important;
    border-left: 1px solid #ecf1f4 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -khtml-border-radius: 0 !important;
    border-radius: 0 !important;
    margin: 0 !important;
    padding: 0 12px !important;
}
#accessoryTabs ul li.current {
    background: #243038 !important;
}
#accessoryTabs ul li:first-child {
    margin-left: 40px !important;
}
#accessoryTabs ul li a {
    color: #7C8B83 !important;
    font-size: 11px !important;
    padding: 6px 0 !important;
    text-shadow: none !important;
}
#accessoryTabs ul li a span.accessoryHandle {
    background: none !important;
}
.contents .heading {
    background: #5e7480 !important;
    -moz-border-radius-topleft: 2px !important;
    -webkit-border-top-left-radius: 2px !important;
    -o-border-top-left-radius: 2px !important;
    -ms-border-top-left-radius: 2px !important;
    -khtml-border-top-left-radius: 2px !important;
    border-top-left-radius: 2px !important;
    -moz-border-radius-topright: 2px !important;
    -webkit-border-top-right-radius: 2px !important;
    -o-border-top-right-radius: 2px !important;
    -ms-border-top-right-radius: 2px !important;
    -khtml-border-top-right-radius: 2px !important;
    border-top-right-radius: 2px !important;
    -moz-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5) !important;
    -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5) !important;
    -o-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5) !important;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5) !important;
    border: 1px solid #495963 !important;
    margin: -1px -1px 0 -1px !important;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    -o-background-clip: padding-box;
    -ms-background-clip: padding-box;
    -khtml-background-clip: padding-box;
    background-clip: padding-box;
}
.contents .heading h2 {
    background: none !important;
}
.contents .pageContents {
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) !important;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) !important;
    -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) !important;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) !important;
    -moz-border-radius-bottomleft: 2px !important;
    -webkit-border-bottom-left-radius: 2px !important;
    -o-border-bottom-left-radius: 2px !important;
    -ms-border-bottom-left-radius: 2px !important;
    -khtml-border-bottom-left-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
    -moz-border-radius-bottomright: 2px !important;
    -webkit-border-bottom-right-radius: 2px !important;
    -o-border-bottom-right-radius: 2px !important;
    -ms-border-bottom-right-radius: 2px !important;
    -khtml-border-bottom-right-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    -o-background-clip: padding-box;
    -ms-background-clip: padding-box;
    -khtml-background-clip: padding-box;
    background-clip: padding-box;
}
#template_create .submit, input[name=save_template_file] {
    margin-left: 10px;
}
td:last-child a.less_important_link {
    background: #7C8B83;
    background: -webkit-gradient(linear,  50% 0%,  50% 100%,  color-stop(0%,  #7C8B83),  color-stop(100%,  #4c642f));
    background: -webkit-linear-gradient(top,  #7C8B83, #4c642f);
    background: -moz-linear-gradient(top,  #7C8B83, #4c642f);
    background: -o-linear-gradient(top,  #7C8B83, #4c642f);
    background: -ms-linear-gradient(top,  #7C8B83, #4c642f);
    background: linear-gradient(top,  #7C8B83, #4c642f);
    border: 1px solid #5b7938 !important;
    -moz-border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -o-border-radius: 2px !important;
    -ms-border-radius: 2px !important;
    -khtml-border-radius: 2px !important;
    border-radius: 2px !important;
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 4px rgba(87, 87, 87, 0.7);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 4px rgba(87, 87, 87, 0.7);
    -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 4px rgba(87, 87, 87, 0.7);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 4px rgba(87, 87, 87, 0.7);
    color: #fff !important;
    display: block;
    font-size: 11px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    text-decoration: none !important;
    text-shadow: #253117 0.1px -1px 0.1px;
    width: 50px !important;
}
td:last-child a.less_important_link[title="Member Groups"] {
    margin: 10px 0 !important;
    width: 100px !important;
}
td:last-child a.less_important_link:hover {
    background: -webkit-gradient(linear,  50% 0%,  50% 100%,  color-stop(0%,  #7C8B83),  color-stop(100%,  #7C8B83));
    background: -webkit-linear-gradient(top,  #7C8B83, #7C8B83);
    background: -moz-linear-gradient(top,  #7C8B83, #7C8B83);
    background: -o-linear-gradient(top,  #7C8B83, #7C8B83);
    background: -ms-linear-gradient(top,  #7C8B83, #7C8B83);
    background: linear-gradient(top,  #7C8B83, #7C8B83);
    text-decoration: none !important;
}
table.mainTable .headerSortUp {
    background: -webkit-gradient(linear,  50% 0%,  50% 100%,  color-stop(0%,  #7C8B83),  color-stop(100%,  #4c642f)) !important;
    background: -webkit-linear-gradient(top,  #7C8B83, #4c642f) !important;
    background: -moz-linear-gradient(top,  #7C8B83, #4c642f) !important;
    background: -o-linear-gradient(top,  #7C8B83, #4c642f) !important;
    background: -ms-linear-gradient(top,  #7C8B83, #4c642f) !important;
    background: linear-gradient(top,  #7C8B83, #4c642f) !important;
    border-left: 1px solid #7C8B83;
}
table.mainTable .headerSortUp:after {
    content: "▼";
    font-size: 7px;
    float: right;
    width: auto;
}
table.mainTable .sorting:after {
    content: "▼";
    font-size: 7px;
    float: right;
    visibility: hidden;
    width: auto;
}
table.mainTable .headerSortDown {
    background: -webkit-gradient(linear,  50% 0%,  50% 100%,  color-stop(0%,  #7C8B83),  color-stop(100%,  #4c642f)) !important;
    background: -webkit-linear-gradient(top,  #7C8B83, #4c642f) !important;
    background: -moz-linear-gradient(top,  #7C8B83, #4c642f) !important;
    background: -o-linear-gradient(top,  #7C8B83, #4c642f) !important;
    background: -ms-linear-gradient(top,  #7C8B83, #4c642f) !important;
    background: linear-gradient(top,  #7C8B83, #4c642f) !important;
    border-left: 1px solid #7C8B83 !important;
}
table.mainTable .headerSortDown:after {
    content: "▲";
    font-size: 7px;
    float: right;
    width: auto;
}
table.mainTable th {
    background: -webkit-gradient(linear,  50% 0%,  50% 100%,  color-stop(0%,  #a3b2bb),  color-stop(100%,  #778e9b));
    background: -webkit-linear-gradient(top,  #a3b2bb, #778e9b);
    background: -moz-linear-gradient(top,  #a3b2bb, #778e9b);
    background: -o-linear-gradient(top,  #a3b2bb, #778e9b);
    background: -ms-linear-gradient(top,  #a3b2bb, #778e9b);
    background: linear-gradient(top,  #a3b2bb, #778e9b);
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    -o-background-clip: padding-box;
    -ms-background-clip: padding-box;
    -khtml-background-clip: padding-box;
    background-clip: padding-box;
    border-left: 1px solid #c0cbd1;
    font-size: 12px !important;
    font-weight: normal !important;
    text-shadow: rgba(0, 0, 0, 0.5) 0 -1px 0;
    padding: 7px 5px !important;
}
table.mainTable thead, table.mainTable thead tr {
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    -o-background-clip: padding-box;
    -ms-background-clip: padding-box;
    -khtml-background-clip: padding-box;
    background-clip: padding-box;
}
.tableFooter {
    -moz-border-radius-bottomleft: 2px !important;
    -webkit-border-bottom-left-radius: 2px !important;
    -o-border-bottom-left-radius: 2px !important;
    -ms-border-bottom-left-radius: 2px !important;
    -khtml-border-bottom-left-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
    -moz-border-radius-bottomright: 2px !important;
    -webkit-border-bottom-right-radius: 2px !important;
    -o-border-bottom-right-radius: 2px !important;
    -ms-border-bottom-right-radius: 2px !important;
    -khtml-border-bottom-right-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
}
.mainTable a, .bullets li a, #mainWrapper .menu_list li a, .side_navigation a {
    color: #3e4c54 !important;
    font-weight: bold;
}
#mainWrapper .edit a {
    color: #e5e5e5 !important;
    text-decoration: none !important;
    text-shadow: none !important;
}
.add_tab_link {
    color: #7C8B83 !important;
}
.add_tab_link:before {
    content: "+ "}
#ee_homepage_notice.contents .heading h2 {
    color: #fff !important;
    text-shadow: none !important;
}
#ee_homepage_notice.contents .pageContents {
    background: #FFFEE4 !important;
    border: 1px solid #e5e5e5 !important;
    -moz-border-radius-bottomleft: 2px !important;
    -webkit-border-bottom-left-radius: 2px !important;
    -o-border-bottom-left-radius: 2px !important;
    -ms-border-bottom-left-radius: 2px !important;
    -khtml-border-bottom-left-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
    -moz-border-radius-bottomright: 2px !important;
    -webkit-border-bottom-right-radius: 2px !important;
    -o-border-bottom-right-radius: 2px !important;
    -ms-border-bottom-right-radius: 2px !important;
    -khtml-border-bottom-right-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
}
#ee_homepage_notice.contents .pageContents .newVersionNotice span {
    color: #fff !important;
}
.create_new_upload_pref {
    -webkit-animation: none !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br, .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl, .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr, .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    -moz-border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -o-border-radius: 2px !important;
    -ms-border-radius: 2px !important;
    -khtml-border-radius: 2px !important;
    border-radius: 2px !important;
}
#file_browser_body div a {
    color: #7C8B83 !important;
}
.edit_categories_link, .choose_file, .remove_file {
    color: #7C8B83 !important;
}
.top_menu {
    background: #5e6871 !important;
}
.contentMenu h2 span {
    font-style: italic;
    vertical-align: bottom;
}
.contentMenu li a {
    font-size: 12px;
}
.ct_nav span.button a.current,
.ct_nav span.button a.nav_button:hover {
    background-color: #7C8B83 !important;
    color: #fff !important;
}
#navigationTabs li ul {
    width: 200px;
}
#navigationTabs ul li {
    width: 200px;
}
#navigationTabs li ul ul {
    margin: -28px 0 0 202px;
}