/*

Jarrett M. Barnett | linkedin.com/in/jarrettbarnett
URL: http://www.jarrettbarnett.com/
Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

*/

// 1. ROOT 					==============================

// CSS reset
@import "_reset.less";

// Variables and mixins
@import "_variables.less";
@import "_mixins.less";

// Site wide styles (html, body)
@import "_site.less";

// 2. TYPOGRAPHY 			==============================

// Block level (h1, p) and text-level (em, strong) type
@import "_typography.less";

// 3. COLOR 				==============================

// Color interaction semantics
@import "_color.less";

// 4. TEXTURE 				==============================

// Alerts, badges, boxes and gradients
@import "_texture.less";

// Font Awesome icon fonts (optional)
@import "_font-awesome.less";

// 5. ELEMENTS 				==============================

// Figures, images and other elements
@import "_elements.less";

// Standard form controls
@import "_forms.less";

// Button styles (optional)
@import "_buttons.less";

// Tables
@import "_tables.less";

// 6. LAYOUT 			==============================

// Page level layout styles (banner, navigation, content, contentinfo)
@import "_page.less";

//  7. VENDOR-SPECIFIC 		==============================
//  8. MODERNIZR 			==============================

// @import "_modernizr.less";

//  9. TEMPLATE SPECIFICS 	==============================
//  10. MEDIA QUERIES 		==============================

@media print {
@import "_print.less";
}

// 480px
@media only screen and (min-width: 480px) {
@import "_480.less";
}

// 600px
@media only screen and (min-width: 600px) {
@import "_600.less";
}

// 768px
@media only screen and (min-width: 768px) {
@import "_768.less";
}

// 992px
@media only screen and (min-width: 992px) {
@import "_992.less";
}

// 1382px
@media only screen and (min-width: 1382px) {
@import "_1382.less";
}

// 2x
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
@import "_2x.less"; }

//  11. UPSTARTS 			==============================

// Modules and panels
@import "upstarts/modules/upstart.less";
@import "upstarts/panels/upstart.less";

// Layout option using display:table for navigation positioning
// @import "upstarts/display-table/upstart.less";