        </div><!--wrapper-->
    </section><!-- #content -->
    <footer class="site-info" role="contentinfo">
        <div class="wrapper">
            <h1 class="hidden">Site Information</h1>
            <section class="banner">
                <div class="vcard">
                    <address>
                        {addressinfo limit="1"}
                        <span class="org fn">{addressinfo_name}</span>
                        <span class="address-info">
                            <span class="street-address">{addressinfo_street}</span>
                            <span class="locality">{addressinfo_city}</span>,
                            <span class="region">{addressinfo_state}</span>
                            <span class="postal-code">{addressinfo_postal}</span>
                            <span class="country-name hidden">{addressinfo_country}</span>
                        </span>
                        {/addressinfo}
                    </address>
                    <div class="contact-info">
                        {contactinfo limit="1"}
                        <a class="url hidden" href="http://{contactinfo_url}">{contactinfo_url}</a>
                        <a class="email" href="mailto:{contactinfo_email}">{contactinfo_email}</a>
                        <span class="tel">{contactinfo_phone}</span>
                        {/contactinfo}
                    </div>
                </div>
            </section>
            <div class="copyright">&copy; Copyright {current_time format="%Y"}</div>
        </div>
    </footer>
</body>
</html>