<!DOCTYPE html>
<html lang="en">
<head>
    {!-- PRELOAD DEFAULTS --}
    {preload_replace:page_bodyclass="no-js"}
    {preload_replace:page_bodyid=""}
    {preload_replace:og="og_pages"}
    {preload_replace:disable_breadcrumb="n"}
    {preload_replace:disable_subnav="n"}

    {!-- META DATA --}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--[if IE]><meta http-equiv="cleartype" content="on" /><![endif]-->
    <!--[if lt IE 9]><meta http-equiv="X-UA-Compatible" content="IE=8" /><![endif]-->
    
    {!-- SEO and FACEBOOK --}
    <title>{title}</title>
    <meta name="description" content="{meta_description}" />
    <meta name="keywords" content="{meta_keywords}{meta_keyword}{/meta_keywords}" />
    <meta name="robots" content="index,follow,archive" />
    <meta property="og:title" content="{if '{{og}_title}'}{if:else}{title} > {site_name}{/if}"/>
    <meta property="og:type" content="{if '{{og}_type}'}{if:else}website{/if}"/>
    <meta property="og:url" content="og_url" />
    <meta property="og:image" content="{if {{og}_image}{if:else}{site_url}images/logo.gif{/if}"/>
    <meta property="og:site_name" content="{site_name}"/>
    <meta property="og:description" content="{{og}_description}"/>
    
    {!-- ICONS --}
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
    
    {!-- STYLESHEETS --}
    <link rel="stylesheet" media="screen, projection" href="/styles/reset.css" />
    <link rel="stylesheet" media="screen, projection" href="/styles/jcarousel.css" />
    <link rel="stylesheet" media="screen, projection" href="/styles/screen.css" />
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" media="screen, projection" href="/styles/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" type="text/css" media="screen, projection" href="/styles/ie8.css" /><![endif]-->
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" media="screen, projection" href="/styles/ie7.css" /><![endif]-->
    <link rel="alternate" href="/xml/news/" title="{site_name} News Feed" type="application/rss+xml" />
    
    {!-- JAVASCRIPT --}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <!--[if lt IE 9]><script type="text/javascript" src="/scripts/html5shiv.js"></script><![endif]-->
    <script src="/scripts/jcarousel.js"></script>
    <script src="/scripts/global.js"></script>
    <script type="text/javascript">var _gaq = _gaq || []; _gaq.push(['_setAccount', '{analytics_id}'],['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();</script>

    {!-- MINI-CP --}
    {if showadmintoolbar == "y"}{exp:minicp jquery="no" jqueryui="yes"}{/if}
    
</head>
<body id="{page_bodyid}" class="{page_bodyclass}">
    {if showadmintoolbar == "y"}{exp:minicp:widget entry_id="{entry_id}"}{/if}
    
    {!-- HEADER --}
    <header class="masthead" role="banner">
        <div class="wrapper">
            <a href="/" title="{site_name}" class="logo pngfix">
                <h1>{site_name}</h1>
            </a>
            <nav class="nav-member">
                <a href="/member/profile">View Profile</a> | {if logged_in}<a href="/member/logout">Logout</a>{if:else}<a href="/member/login">Login</a>{/if}
            </nav>
             <nav class="nav-main" role="navigation">
                <h2 class="hidden">Main Navigation (<a href="#content">Skip to Main Content</a>)</h2>
                {exp:structure:nav max_depth="1" css_id="leftnav" current_class="active" add_unique_ids="yes"}
            </nav>
        </div>
    </header>
    
    {!-- WRAPPER --}
    <section id="content" class="content-main has-sub-nav" role="main">
        <div class="wrapper">
            
            
        {if "{disable_breadcrumb}" != "y"}
            <ol class="breadcrumbs">
                {exp:structure:breadcrumb here_as_title="yes" wrap_each="li"}
            </ol>
        {/if}
        {if "{disable_subnav}" != "y"}
            <aside class="sidebar sub-nav" role="complementary">
                {exp:structure:nav start_from="/{segment_1}/" max_depth="1" css_id="leftnav" current_class="active"}
            </aside><!-- #sidebar -->
        {/if}