{preload_replace:sidebar_field="relatedcontent"}{!-- fallback --}

{exp:playa:children field="{preload_sidebar}" var_prefix="sidebar" search:relatedcontent_active="=y" limit="3"}

    {if "{sidebar:count}" == 1}
    <aside class="sidebar ancillary" role="complementary">
        <h1 class="hidden">Related Content</h1>
        <div class="featured">
            <ul class="featured-list">
    {/if}
    
    
        {sidebar:callout}    
            {exp:ifelse parse="inward"}
                {if callout_image}
                    <li class="list-item alt last">
                        <h3 class="hidden">{sidebar:title}</h3>
                        <div class="media-image">
                            <a href="{if "{callout_linkoverride}"}{callout_linkoverride}{if:else}{page_uri}{/if}"><img src="{callout_image:resized}" alt="{sidebar:title}" /></a>
                        </div>
                    </li>
                {if:else}
                    <li class="list-item last">
                        {if callout_previewimage}
                        <div class="media-image vignette">
                            <a href="{if callout_linkoverride}{callout_linkoverride}{if:else}{page_uri}{/if}"><img src="{callout_previewimage:resized}" alt="{sidebar:title}" /></a>
                        </div>
                        {/if}
                        <div class="content">
                            <h3><a href="{if callout_linkoverride}{callout_linkoverride}{if:else}{page_uri}{/if}">{sidebar:title}</a></h3>
                            {sidebar:content}
                            {if callout_linktext}<a href="{if callout_linkoverride}{callout_linkoverride}{if:else}{page_uri}{/if}" class="button highlight">{callout_linktext}</a>{/if}
                        </div>
                    </li>
                {/if}
            {/exp:ifelse}
        {/sidebar:callout}
        
        
    {if "{sidebar:count}" == "{sidebar:total_results}"}
            </ul>
        </div><!--articles-->
    </aside><!--sidebar.ancillary-->
    {/if}
    
{/exp:playa:children}